/*.close-button {
	background: black;
	width: 30px;
	height: 30px;
	position: relative;
	float: right;
	color: black;
}
.close-button:after {
	content: '';
	height: 30px;
	border-left: 2px solid #fff;
	position: absolute;
	transform: rotate(45deg);
	left: 14px;
}

.close-button:before {
	content: '';
	height: 30px;
	border-left: 2px solid #fff;
	position: absolute;
	transform: rotate(-45deg);
	left: 14px;
}

.close-button:hover {
	cursor: pointer;
	background: red;
	color: red;
}*/