#countryLayer path {
	fill: transparent;
	stroke: transparent;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	cursor: pointer;
}

ellipse {
	cursor: pointer;
	display: none;
}

ellipse:hover {
	fill: red !important;
}

#countryLayer path:hover {
	fill: #fff;
	fill-opacity: 0.25 ;
}

#regionLayer ellipse {
	fill: orange;
}

#waterLayer ellipse {
	fill: aqua;
}

#mountainLayer ellipse {
	fill: yellow;
}

#cityLayer ellipse {
	fill: #fff;
}

#forestLayer ellipse {
	fill: green;
}

#fortressLayer ellipse {
	fill: violet;
}

/* Search Section */

#ui-id-1 {
	background-color: #ffffff;
	width: 100% !important;
	max-width: 172px !important;
	padding: 0;
}

#ui-id-1 .ui-menu-item {
	list-style: none;
}

	#ui-id-1 .ui-menu-item:hover {
		background: #fff;
		opacity: 0.5;
	}

/* End of Search Section*/