body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.checked{
	color: orange;
}

#map-wrapper{
    position: relative;
}

#map-wrapper img {
    max-width: 1278px;
    width: 100%;
}

.search-block{
    display: block;
    float: right;
    margin: 32px 0 32px 0;
}

#search-icon {
    fill: black;
}

#search-button {
    width: 40px;
    height: 40px;
}

.map-point {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #f00;
    position: absolute;
}

/* Review Section*/

.review-form{
	display: block;
	float: right;
	margin-top: 32px;
}

.review-form div{
	display: grid;
}

.review-form #text{
	resize: none;
	overflow: auto;
}

.user-reviews {
	display: inline-block;
	max-width: 670px;
	width: 100%;
	border-bottom: 2px solid #D3D3D3;
}

.stars{
	margin-bottom: 12px;
}


/* End of Review Section */

button {
    display: inline-block;
    vertical-align: middle;
    border-radius: 30px;
    margin: .20rem;
    font-size: 1rem;
    color: #666666;
    background: #ffffff;
    border: 1px solid #666666;
}

    button:hover {
        border: 1px solid #666666;
        background: #666666;
        color: #ffffff;
    }

/* Responsive Section */

@media only screen and (max-width: 1200px){

	/* Responsive Section Reviews */

	.review-form{
		margin: 0 auto 32px auto;
		float: none;
		display: table;
	}

	.user-reviews {
		display: inline-block;
		max-width: none;
		width: 100%;
		border-bottom: 2px solid #D3D3D3;
	}

	/* End of Responsive Section Reviews */
}

/* End of Responsive Section */