@{
    ViewBag.Title = "Home Page";
    string path = Server.MapPath("~/Content/XsltFiles/Test.xslt");

}
@using MiddleEarth.Extension


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>


<div class="w3-container" align="center">
    <h2>Holidays in Middle-Earth</h2>

</div>

<div class="w3-content" style="max-width:1000px"  >
    @*<img class="mySlides" src="~/Content/Pictures/Auenland_1024x837.jpg" style="width:100%;display:none">
    <img class="mySlides" src="~/Content/Pictures/bruchtal.jpg" style="width:100%">
    <img class="mySlides" src="~/Content/Pictures/Minas_Tirith.jpg" style="width:100%;display:none">
    <img class="mySlides" src="~/Content/Pictures/Mordor.png" style="width:100%;display:none">
    <img class="mySlides" src="~/Content/Pictures/Rohan.jpg" style="width:100%;display:none">
    <img class="mySlides" src="~/Content/Pictures/Isengard.jpg" style="width:100%;display:none">*@


    <div  id="demo" class="carousel slide"  data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
            <li data-target="#demo" data-slide-to="4"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="mySlides" src="~/Content/Pictures/Auenland_1024x837.jpg" style="width:100%;">
                <div class="carousel-caption">
                    <h3>Shire</h3>
                    <p>Bilbos homeland</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="mySlides" src="~/Content/Pictures/bruchtal.jpg" style="width:100%">
                <div class="carousel-caption">
                    <h3>Rivendell</h3>
                    <p>The place where the pointy ears live</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="mySlides" src="~/Content/Pictures/Mordor.png" style="width:100%;">
                <div class="carousel-caption">
                    <h3>Mordor</h3>
                    <p>The Land of Sauron</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="mySlides" src="~/Content/Pictures/Isengard.jpg" style="width:100%;">
                <div class="carousel-caption">
                    <h3>Isengard</h3>
                    <p>We are taking the Hobbits to Isengard</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="mySlides" src="~/Content/Pictures/Rohan.jpg" style="width:100%;">
                <div class="carousel-caption">
                    <h3>Rohan</h3>
                    <p>The Land of the horsmen</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>

    <div align="center">
        <h2>@Html.RenderXml(ViewBag.Data as string, path)</h2>
    </div>


    <div class="row">
        <div class="col-md-4">
            <h2></h2>
            <p>

            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <h1>Test Section for XSLT</h1>
    @Html.RenderXml(ViewBag.Data as string, path)
