@{ 
	string xsltRegionPath = Server.MapPath("~/Content/XsltFiles/regions.xslt");
}
@using MiddleEarth.Extension

<div class="testclass">
	@Html.RenderXml(ViewBag.RegionData as string, xsltRegionPath)
</div>