@model MiddleEarth.Models.ShortInformationPopUpModel

<!--Creates the popup body-->
<div id="popup" class="modal">
	<!--Creates the popup content-->
	<div class="modal-content">
		<!--popup's close button-->
		<span class="close">&times;</span>
		<p>Some text in the Modal..</p>
	</div>
</div>
